{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF</title>

</head>
<body>
    <h1 style="text-align: center">{{ case.title }}</h1>

    <p>{{ case.summary }}</p>

    <p>{{ case.type }}</p>

    <div class="w3-container">

        <div class="w3-half">

            {% for this in case.this_set.all %}

                <p>{{ this }}</p>

            {% endfor %}

        </div>


        <div class="w3-half">

            {% for that in case.that_set.all %}

                <p>{{ that }}</p>

            {% endfor %}

        </div>
    </div>

</body>
</html>