{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
</head>
<body>
    <a href="{% url 'case_download' pk=case.pk %}">Download</a>

    <h1 style="text-align: center">{{ case.title }}</h1>

    <p>{{ case.summary }}</p>

    <p>{{ case.type }}</p>

    <div>

        <div style="left: 44pt; width: 245pt; top: 90pt; height: 632pt;">

            {% for this in case.this_set.all %}

                <p>{{ this }}</p>

            {% endfor %}

        </div>

        <div style="left: 323pt; width: 245pt; top: 90pt; height: 632pt;">

            {% for that in case.that_set.all %}

                <p>{{ that }}</p>

            {% endfor %}

        </div>
    </div>
</body>
</html>