{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'w3.css' %}">

    <h1 class="w3-center">Cases</h1>

    {% for case in cases %}
        <div>

            <a href="{% url 'case' pk=case.pk %}">{{ case.title }}</a>

        </div>

    {% endfor %}


</body>
</html>