<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load data_interrogator %}

{% lineup %} {# loads the form for selecting columns #}
{% interrogation_room %} {# loads the table where data is displayed #}

</body>
</html>